body {
    overflow: hidden;
}

.game-area {
    display: flex;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 992px) {
    .game-area {
        flex-direction: column-reverse;
    }
}